<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!--<context:annotation-config/>-->


    <bean id="linkedStack" class="stack.LinkedStack">
    </bean>

    <bean id="resizingArrayStack" class="stack.ResizingArrayStack">
    </bean>

    <bean id="fixedArrayList" class="list.FixedArrayList">
    </bean>

    <!--<bean id="textEditor" class="com.rhzhou.TextEditor ">
    </bean>-->

    <!--<bean id="spellChecker" class="com.rhzhou.SpellChecker ">
    </bean>-->

    <!--<bean id="cStartEventHandler"
          class="com.rhzhou.CStartEventHandler"/>

    <bean id="cStopEventHandler"
          class="com.rhzhou.CStopEventHandler"/>

    <bean id="customEventHandler"
          class="com.rhzhou.CustomEventHandler"/>

    <bean id="customEventPublisher"
          class="com.rhzhou.CustomEventPublisher"/>-->

    <!--<bean class="com.rhzhou.InitHelloWorld" />-->

    <!--  config db property file location  -->
    <!--<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:jdbc.properties"/>
    </bean>-->

    <!-- Scans within the base package of the application for @Components to configure as beans -->
    <!--<context:component-scan base-package="org.springframework.docs.test" />-->

    <!-- Initialization for data source -->


    <!--<context:property-placeholder location="jdbc.properties"/>-->
</beans>